@import url('http://fonts.googleapis.com/css?family=Open+Sans');

/*================1================*/

/*================2================*/

/*================3================*/

/*================4================*/

/*================5================*/

/*================6================*/

/*================7================*/

/*================8================*/

/*================9================*/

/*================10================*/

/*================11================*/

/*================12================*/

/*================13================*/

/*================14================*/

/*================15================*/

/*================16================*/

/*================17================*/

/*================18================*/

/*================19================*/

/*================20================*/

/*================21================*/

/*================22================*/

/*================23================*/

/*================24================*/

/*================25================*/

/*================26================*/

/*================27================*/

/*================28================*/

/*================29================*/

/*================30================*/

/*================31================*/

/*================32================*/

/*================33================*/

/*================34================*/

/*================35================*/

/*================36================*/

/*================37================*/

/*================38================*/

/*================39================*/

/*================40================*/

/*================41================*/

/*================42================*/

/*================43================*/

/*================44================*/

/*================45================*/

/*================46================*/

/*================47================*/

/*================48================*/

/*================49================*/

/*================50================*/

/*================51================*/

/*================52================*/

/*================53================*/

/*================54================*/

/*================55================*/

/*================56================*/

/*================57================*/

/*================58================*/

/*================59================*/

/*================60================*/

/*================61================*/

/*================62================*/

/*================63================*/

/*================64================*/

/*================65================*/

/*================66================*/

/*================67================*/

/*================68================*/

/*================69================*/

/*================70================*/

/*================71================*/

/*================72================*/

/*================73================*/

/*================74================*/

/*================75================*/

/*================76================*/

/*================77================*/

/*================78================*/

/*================79================*/

/*================80================*/

/*================81================*/

/*================82================*/

/*================83================*/

/*================84================*/

/*================85================*/

/*================86================*/

/*================87================*/

/*================88================*/

/*================89================*/

/*================90================*/

/*================91================*/

/*================92================*/

/*================93================*/

/*================94================*/

/*================95================*/

/*================96================*/

/*================97================*/

/*================98================*/

/*================99================*/

/*================100================*/

.text {
	width: 500pt;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-size: 14;
	
}

div{
	margin-top: 50px;
	margin-bottom: 30px;
}

/*3*/
#four div{
	margin: 3px;
	width: 80px;
	display: none;
	height: 80px;
	float: left;
}

#four span {
	color: red;
	cursor: pointer;
}

.one {
	background: #f00;
}
.two {
	background: #0f0;
}
.three {
	background: #00f;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: cc5050;
	width: 60%;
}

p:hover{
	background: red;
}


.test {
	color: #000;
	padding: .5em;
	border: 1px solid #444;
}
.active {
	color: #900;
}
.inside {
	background-color: aqua;
}

ol, ul {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	padding: 1rem;
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 2.5rem;
	font-height: 2.6rem;
	color: cc5050;

}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 2.2rem;
	font-weight: 2.3rem;
	color: cc5050;
}

h3{	
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2.1rem;
	color: cc5050;
}

h4{
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size: 1.5rem;
	line-height:1.6rem;
	color: cc5050;
}

h5{
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size: 1.3rem;
	line-height:1.4rem;
	color: cc5050;
}

h6{
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size: 1.1rem;
	line-height:1.2rem;
	color: cc5050;
}

blockquote {
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size: 1.1rem;
	line-height:1.2rem;
	color: cc5050;
}

body {
	margin: 2rem 5rem;
	max-width: 80rem;

}

iframe {
	padding:5rem;
	width: 95%;
	height: 80%;
	border: solid;
}

img{
	width: 5rem;

}

button{
	color: #000;
}

button:hover{
	background-color:cc5050;
}


a{
	color:inherit;
	background-color: none;
	text-decoration: none;
	border-bottom: 0.5rem solid cc5050;
}


@media (max-width: 777px){
	body {
		min-width: none;
		width: 70%;
		margin-left: 15%;
	}

	button {
		width: 60%;
		margin-left: 20%;
	}

	h1 {
		font-size:1.5rem;
		line-height:1.8rem;
	}

	h2 {
		font-size:1.25rem;
		line-height:1.5rem;
	}

	h3 {
		font-size:1rem;
	}

	h4 {
		font-size:1rem;
	}

	h5 {
		font-size:0.9rem;
	}

	h6 {
		font-size:0.75rem;
	}

	blockquote {
		font-size:1rem;
	}

	blockquote span {
		margin-left: -0.5rem;
	}

	h1, h2, h3, h4, h5, h6, blockquote, ul, ol, div {
		margin-top: 0.5rem;
	}

	a {
		border-bottom: 0.2rem solid cc5050;
	}

}