/*
#CFDBD5
#E8EDDF
#F5CB5C
#242423
#333533
#f25a41
#9BC53D
*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
html, body {
	height: 100%; 
	width: 100%;
	margin: 0;
	
}
#bgImage{
	position: fixed;
	width: 80%;
	height: auto;
	z-index: -10;
}
.container{
	height: 100%;
	width: 100%;
/*	background-image: url('image/E4.gif');
	background-repeat: no-repeat;
    background-attachment: fixed;
*/}
/*.cell {
	cursor: pointer;
	width: 25%;
	height: 100%;
	margin: 0 auto;
	float: left;
	overflow: hidden;
	position: relative;
}
.row{
	vertical-align: center;
	height: 50%;
}*/
.row h1{
	font-size: 23px;
	margin: 0;
}

.container{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right: 0;
	margin: auto;
	width: 80%;
	height: 78%;
}

.hintBox{
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right: 0;
	margin: 0;
	width: 100%;
	height: 80px;
	/*z-index: 10;*/
	text-align: center;
}
.hintBox h1{
	font-size: 60px;
	text-transform: uppercase;
	color: #E8EDDF; 
	margin: 0;
}

.test{
	background-color: #333533;
	cursor: pointer;
	width: 25%;
	height: 100%;
	margin: 0 auto;
	float: left;
	overflow: hidden;
	position: relative;
	opacity: 0;
}
ol, ul {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	padding: 1rem;
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 2.5rem;
	font-height: 2.6rem;
	color: #CFDBD5;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 2.2rem;
	font-weight: 2.3rem;
	color: #CFDBD5;
}

h3{	
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2.1rem;
	color: #CFDBD5;
}

h4{
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size: 1.5rem;
	line-height:1.6rem;
	color: #CFDBD5;
}

h5{
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size: 1.3rem;
	line-height:1.4rem;
	color: #CFDBD5;
}

h6{
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size: 1.1rem;
	line-height:1.2rem;
	color: #CFDBD5;
}

blockquote {
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size: 1.1rem;
	line-height:1.2rem;
	color: #CFDBD5;
}

body {
	background-color: #333533;
}

iframe {
	border: none;
}


a{
	color:inherit;
	background-color: none;
	text-decoration: none;
	border-bottom: 0.5rem solid cc5050;
}
